$font-family: 'Roboto', sans-serif, Arial;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    color: #000;
    font-size: 15px;
    line-height: 1.28;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 980px;
    background: url('images/bg.jpg') center center/cover no-repeat;
    height: 100vh;

    > img {
        display: none;
    }
}

body.disable_selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, button, textarea {
    font-family: $font-family;
    color: #44368f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        color: #000;
        text-decoration: none;
        outline: none;
    }
}
a.link {
    transition: all .2s ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover,
    &:active,
    &:focus {
        &[href] {
            border-bottom-color: #e2c093;
        }
    }
}

p {

}

.wrapper {
    //overflow: hidden;
}

.mhc .mhc-disney-key {
    top: 65px !important;
    margin-right: 22px !important;
}
.mhc .mhc-disney-key .mhc-disney-key-user {
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 10px !important;
    margin-top: -5px !important;
    border-radius: 10px !important;
}