/* Images
----------------------------------------------------------------------------------------------------*/
@mixin imageSVG($image) {
    background: url('images/' + $image + '.svg') 0 0 no-repeat;
}

@mixin image1x($image, $type: 'png') {
    width: width('public/images/' + $image + '.' + $type, 1);
    height: height('public/images/' + $image + '.' + $type, 1);
    background: url('images/' + $image + '.' + $type) 0 0 no-repeat;
    background-size: size('public/images/' + $image + '.' + $type, 1);
}

@mixin image2x($image, $type: 'png') {
    background: url('images/' + $image + '.' + $type) 0 0 no-repeat;
    background-size: size('public/images/' + $image + '.' + $type, 2);
    width: width('public/images/' + $image + '.' + $type, 2);
    height: height('public/images/' + $image + '.' + $type, 2);
}

@mixin image($image) {
    background: url($image) top left/contain no-repeat;
}

@mixin imageNY($image) {
    background: url('img/game/new_year/' + $image) top left/contain no-repeat;
}

@mixin imageN($image) {
    background: url('img/game/' + $image) top left/contain no-repeat;
}

@mixin imageV($image) {
    background: url('img/game/valentine/' + $image) top left/contain no-repeat;
}

@mixin imageF($image) {
    background: url('img/game/febrary/' + $image) top left/contain no-repeat;
}

@mixin imageW($image) {
    background: url('img/game/women/' + $image) top left/contain no-repeat;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transforms) {
    -moz-transition: $transforms;
    -o-transition: $transforms;
    -ms-ttransition: $transforms;
    -webkit-transition: $transforms;
    transition: $transforms;
}

@mixin background-gradient($color-top, $color-bottom) {
    background: $color-top;
    background: -webkit-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -o-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-top), color-stop(100%, $color-bottom));
    background: linear-gradient($color-top 0%, $color-bottom 100%);
}
@mixin background-gradient-trio($color-top, $color-center, $color-bottom) {
    background: $color-top;
    background: -webkit-linear-gradient($color-top 0%, $color-center 50%, $color-bottom 100%);
    background: -o-linear-gradient($color-top 0%, $color-center 50%, $color-bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-top), color-stop(50%, $color-center), color-stop(100%, $color-bottom));
    background: linear-gradient($color-top 0%, $color-center 50%, $color-bottom 100%);
}
