.viewport {
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    overflow: hidden;
}

.log {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    height: 240px;
    padding: 20px;
    overflow-y: auto;
    background: rgba(0,0,0,0.5);
    p {
        color: #fff;
        margin: 0;
        padding: 0 0 5px;
        b {
            color: #ffff00;
        }
    }
}

.cards {
    position: relative;
    .card {
        position: absolute;
        width: 100px;
        height: 153px;
        background-size: contain;
        cursor: pointer;
        border-radius: 7px;
        @include transition(all 1s ease);

        &:hover {
            box-shadow: 0px 0px 20px 5px rgba(255,255,0,0.5);
        }

        &.start_0_0 {
            top: 200px;
            left: 50px;
        }
        &.start_1_0 {
            top: 200px;
            left: 200px;
        }
        &.start_2_0 {
            top: 200px;
            left: 350px;
        }
        &.start_3_0 {
            top: 200px;
            left: 500px;
        }
        &.start_4_0 {
            top: 200px;
            left: 650px;
        }
        &.start_0_1 {
            top: 375px;
            left: 50px;
        }
        &.start_1_1 {
            top: 375px;
            left: 200px;
        }
        &.start_2_1 {
            top: 375px;
            left: 350px;
        }
        &.start_3_1 {
            top: 375px;
            left: 500px;
        }
        &.start_4_1 {
            top: 375px;
            left: 650px;
        }
        &.start_0_2 {
            top: 550px;
            left: 50px;
        }
        &.start_1_2 {
            top: 550px;
            left: 200px;
        }
        &.start_2_2 {
            top: 550px;
            left: 350px;
        }
        &.start_3_2 {
            top: 550px;
            left: 500px;
        }
        &.start_4_2 {
            top: 550px;
            left: 650px;
        }

        &.player_1_stack {
            top: 220px;
            left: 1400px;
            @include transform(rotate(-90deg));
        }

        &.player_2_stack {
            top: -200px;
            left: 235px;
            @include transform(rotate(180deg));
        }

        &.player_3_stack {
            top: -200px;
            left: 475px;
            @include transform(rotate(180deg));
        }

        &.player_4_stack {
            top: -200px;
            left: 735px;
            @include transform(rotate(180deg));
        }

        &.player_5_stack {
            top: -200px;
            left: 975px;
            @include transform(rotate(180deg));
        }

        &.disabled {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover {
                cursor: default;
                box-shadow: none;
            }
        }
    }
}

.players_panels {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    .panel {
        position: absolute;
        top: 0;
        width: 200px;
        height: 170px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        @include transition(all .5s ease);

        &:hover {
            background: #145698;
        }

        &[data-player-id="2"] {
            left: 180px;
        }
        &[data-player-id="3"] {
            left: 420px;
        }
        &[data-player-id="4"] {
            left: 660px;
        }
        &[data-player-id="5"] {
            left: 900px;
        }
        .name {
            display: block;
            color: #ffff00;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
        }
        .coins {
            display: block;
            position: absolute;
            top: 74px;
            left: 30px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            text-align: center;
            color: #FFFFFF;
            font-size: 30px;
            line-height: 40px;
            font-weight: 900;
            @include transition(all .25s ease);
            &.copper {
                background: #7d4835;
                border: 5px solid #bb714b;
                box-shadow: 0px 0px 0px 5px #7d4835;
            }
            &.silver {
                background: #8b97a0;
                border: 5px solid #b7c6c7;
                box-shadow: 0px 0px 0px 5px #8b97a0;
            }
            &.gold {
                background: #da9b2f;
                border: 5px solid #eac957;
                box-shadow: 0px 0px 0px 5px #da9b2f;
            }

            &.pulse {
                -webkit-animation: pulse .5s 1 ease-in-out;
                animation: pulse .5s 1 ease-in-out;
            }
        }
        .sights {
            position: absolute;
            top: 50px;
            left: 105px;
            width: 80px;
            .card {
                position: absolute;
                width: 30px;
                height: 46px;
                background-size: contain;
                border-radius: 3px;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    left: 40px;
                }
                &:nth-child(3) {
                    top: 56px;
                    left: 0;
                }
                &:nth-child(4) {
                    top: 56px;
                    left: 40px;
                }
            }
        }
    }
}

.your_panel {
    position: absolute;
    top: 240px;
    right: 0;
    z-index: 8;
    width: 460px;
    .panel {
        position: absolute;
        top: 0;
        width: 100%;
        height: 170px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        @include transition(all .5s ease);

        &:hover {
            background: #145698;
        }

        .name {
            display: block;
            color: #ffff00;
            text-align: center;
            font-size: 28px;
            line-height: 60px;
            font-weight: bold;
        }
        .coins {
            display: block;
            position: absolute;
            top: 74px;
            left: 30px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            text-align: center;
            color: #FFFFFF;
            font-size: 30px;
            line-height: 40px;
            font-weight: 900;
            @include transition(all .25s ease);
            &.copper {
                background: #7d4835;
                border: 5px solid #bb714b;
                box-shadow: 0px 0px 0px 5px #7d4835;
            }
            &.silver {
                background: #8b97a0;
                border: 5px solid #b7c6c7;
                box-shadow: 0px 0px 0px 5px #8b97a0;
            }
            &.gold {
                background: #da9b2f;
                border: 5px solid #eac957;
                box-shadow: 0px 0px 0px 5px #da9b2f;
            }

            &.pulse {
                -webkit-animation: pulse .5s 1 ease-in-out;
                animation: pulse .5s 1 ease-in-out;
            }
        }
        .sights {
            position: absolute;
            top: 60px;
            left: 120px;
            width: 80px;
            .card {
                position: absolute;
                width: 60px;
                height: 92px;
                background-size: contain;
                border-radius: 5px;
                cursor: pointer;

                @include transition(all 1s ease);

                &:hover {
                    box-shadow: 0px 0px 20px 5px rgba(255,255,0,0.5);
                }

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    left: 80px;
                }
                &:nth-child(3) {
                    top: 0;
                    left: 160px;
                }
                &:nth-child(4) {
                    top: 0;
                    left: 240px;
                }
            }
        }
    }
}

.coin {
    display: block;
    position: absolute;
    top: 347px;
    left: -100px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-weight: 900;
    @include transition(all 1s ease);
    background: #7d4835;
    border: 3px solid #bb714b;
    box-shadow: 0px 0px 0px 3px #7d4835;

    &.player_1_stack {
        top: 220px;
        left: 1400px;
        @include transform(rotate(-90deg));
    }

    &.player_2_stack {
        top: -200px;
        left: 335px;
        @include transform(rotate(180deg));
    }

    &.player_3_stack {
        top: -200px;
        left: 575px;
        @include transform(rotate(180deg));
    }

    &.player_4_stack {
        top: -200px;
        left: 835px;
        @include transform(rotate(180deg));
    }

    &.player_5_stack {
        top: -200px;
        left: 1075px;
        @include transform(rotate(180deg));
    }

}

.pass {
    position: absolute;
    top: 380px;
    right: 70px;
    z-index: 8;
    width: 240px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background: #1766a4;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px auto 0;
    cursor: pointer;
    @include transition(all .5s ease);
    opacity: 0;
    &:hover {
        background: #145698;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(23,102,164, .8);
    }

    &_body {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        @include transform(translate(-50%, -50%));
        min-width: 320px;
        box-sizing: border-box;
        padding: 48px;
        box-shadow: 0px 20px 60px rgba(0,0,0,0.27);
        background: #ffffff;

        input {
            display: block;
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            background: #ffffff;
            border: 1px solid #999999;
            border-radius: 5px;
        }

        .button {
            width: 240px;
            height: 50px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
            background: #1766a4;
            border-radius: 10px;
            color: #ffffff;
            text-transform: uppercase;
            margin: 20px auto 0;
            cursor: pointer;
            @include transition(all .5s ease);
            &:hover {
                background: #145698;
            }
        }
    }

    &.status {
        display: none;
        z-index: 11;
        .modal_body {
            width: 720px;
        }
        .status_body {
            @include clearfix;
            h2 {
                font-size: 10px;
                text-align: center;
            }
        }
        .status_sights {
            float: left;
            width: 25%;
            text-align: center;
            .card {
                position: relative;
                display: inline-block;
                width: 70px;
                height: 107px;
                background-size: contain;
                margin: 0 3px 15px;
                border-radius: 5px;
                span {
                    display: block;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 8px;
                    font-weight: bold;
                }
            }
        }
        .status_cards {
            float: left;
            width: 75%;
            text-align: center;

            &.full {
                width: 100%;
            }

            .card {
                position: relative;
                display: inline-block;
                width: 70px;
                height: 107px;
                background-size: contain;
                margin: 0 3px 15px;
                border-radius: 5px;
                span {
                    display: block;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 8px;
                    font-weight: bold;
                }
            }
        }

    }


    &.dices {
        display: none;
        
        .tower_buttons {
            display: none;
        }
        .dice {
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: center;
                flex-wrap: wrap;
                align-content: center;
                font-family: 'Open Sans', sans-serif;

                background: linear-gradient(top, #222, #333);
                @include transition(all .25s ease);

                &.disabled {
                    display: none;
                }
                &.inactive {
                    opacity: .5;
                }
                
                &.pin1 {
                    .second-face {
                        display: none;
                    }
                    .third-face {
                        display: none;
                    }
                    .fourth-face {
                        display: none;
                    }
                    .fifth-face {
                        display: none;
                    }
                    .sixth-face {
                        display: none;
                    }
                }

                &.pin2 {
                    .first-face {
                        display: none;
                    }
                    .third-face {
                        display: none;
                    }
                    .fourth-face {
                        display: none;
                    }
                    .fifth-face {
                        display: none;
                    }
                    .sixth-face {
                        display: none;
                    }
                }

                &.pin3 {
                    .second-face {
                        display: none;
                    }
                    .first-face {
                        display: none;
                    }
                    .fourth-face {
                        display: none;
                    }
                    .fifth-face {
                        display: none;
                    }
                    .sixth-face {
                        display: none;
                    }
                }

                &.pin4 {
                    .second-face {
                        display: none;
                    }
                    .third-face {
                        display: none;
                    }
                    .first-face {
                        display: none;
                    }
                    .fifth-face {
                        display: none;
                    }
                    .sixth-face {
                        display: none;
                    }
                }

                &.pin5 {
                    .second-face {
                        display: none;
                    }
                    .third-face {
                        display: none;
                    }
                    .fourth-face {
                        display: none;
                    }
                    .first-face {
                        display: none;
                    }
                    .sixth-face {
                        display: none;
                    }
                }

                &.pin6 {
                    .second-face {
                        display: none;
                    }
                    .third-face {
                        display: none;
                    }
                    .fourth-face {
                        display: none;
                    }
                    .fifth-face {
                        display: none;
                    }
                    .first-face {
                        display: none;
                    }
                }
                
            }


            .first-face {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .second-face {
                display: flex;
                justify-content: space-between;
            }

            .second-face .pip:nth-of-type(2) {
                align-self: flex-end;
            }

            .third-face {
                display: flex;
                justify-content: space-between;
            }

            .third-face .pip:nth-of-type(2) {
                align-self: center;
            }

            .third-face .pip:nth-of-type(3) {
                align-self: flex-end;
            }

            .fourth-face, .sixth-face {
                display: flex;
                justify-content: space-between;
            }

            .fourth-face .column, .sixth-face .column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .fifth-face {
                display: flex;
                justify-content: space-between;
            }

            .fifth-face .column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .fifth-face .column:nth-of-type(2) {
                justify-content: center;
            }


            [class$="face"] {
                margin: 16px;
                padding: 4px;

                background-color: #1766a4;
                width: 104px;
                height: 104px;
                object-fit: contain;

                box-shadow:
                        inset 0 5px #1978bf,
                        inset 0 -5px #0C2846,
                        inset 5px 0 #184e89,
                        inset -5px 0 #184E89;

                border-radius: 10%;
            }

            .pip {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin: 4px;

                background-color: #fff;
                box-shadow: inset 0 3px #f3f3f3, inset 0 -3px #d3d3d3;
            }
        }
    }
    
    &.telecenter {
        display: none;
    }

    &.business {
        display: none;
    }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.disable_all {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}