.error404 {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 40px;
    background: url('/images/pattern/8.png') top center no-repeat;
    text-align: center;
    &__text1 {
        display: block;
        font-size: 110px;
        line-height: 110px;
        font-weight: bold;
        padding: 20px 0 0px;
        color: #3b5b6e;
    }
    &__text2 {
        display: block;
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
        padding: 0px 0 0px;
        color: #3b5b6e;
        text-transform: uppercase;
    }
    &__text3 {
        display: block;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        padding: 5px 0 0px;
        color: #3b5b6e;
    }
    &__text4 {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        padding: 80px 0 0px;
        color: #3b5b6e;
        a {
            color: #3b5b6e;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}