$font-family: 'Roboto', sans-serif, Arial;

html, body {
    overflow-x: hidden;
}

body {
    font-family: $font-family;
    color: #000;
    font-size: 15px;
    line-height: 1.28;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
    font-family: $font-family;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}
a {
    color: #000;
    text-decoration: none;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        color: #000;
        text-decoration: none;
        outline: none;
    }
}
a.link {
    transition: all .2s ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover,
    &:active,
    &:focus {
        &[href] {
            border-bottom-color: #e2c093;
        }
    }
}

p {

}

.wrapper {
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.25s ease 0ms;
    -moz-transition: -moz-transform 0.25s ease 0ms;
    -ms-transition: -ms-transform 0.25s ease 0ms;
    -o-transition: -o-transform 0.25s ease 0ms;
    transition: transform 0.25s ease 0ms;
}

@media (max-width: 1024px)
{
    .goc-open-menu .wrapper {
        -moz-transform: translateX(293px);
        -ms-transform: translateX(293px);
        -webkit-transform: translateX(293px);
        -o-transform: translateX(293px);
        transform: translateX(293px);
    }
}

@media (max-width: 767px)
{
    .goc-open-menu .wrapper {
        -moz-transform: translateX(178px);
        -ms-transform: translateX(178px);
        -webkit-transform: translateX(178px);
        -o-transform: translateX(178px);
        transform: translateX(178px);
    }
}