.articles-preview {
    background-color: #a1dbc7;
    &__inner {
        padding: 15px 10px 25px;
        position: relative;
    }
    &__title {
        display: inline-block;
        color: #3b5b6e !important;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin-left: 16px;
        border-bottom: 1px solid rgba(59, 91, 110, 0.3);
        transition: all .2s ease-in-out;
        &:hover {
            border-bottom-color: transparent;
        }
    }
    &__body {
        @include clearfix;
        margin: 15px auto 10px;
        text-align: center;
        max-width: 620px;
    }
    &__more {
        text-align: center;
    }
}