.article-preview {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    transition: all .3s ease-in-out;
    @include clearfix;

    * {
        display: block;
    }

    &__head {
        position: relative;
        float: left;
        width: 150px;
        height: 100%;
    }
    &__pic {
        background-color: #ececec;
        position: relative;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .18);
            content: '';
            opacity: 0;
            transition: all .3s ease-in-out;
            border-radius: 10px 0 0 10px;
        }
    }
    &__read {
        display: none;
    }
    &__tag {
        position: absolute;
        top: 0;
        left: 20px;
        white-space: nowrap;
        background-color: #86c4af;
        border-radius: 0 0 15px 15px;
        padding: 5px 10px;
        color: white;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        z-index: 3;
    }
    &__body {
        border: 3px solid #ececec;
        padding: 17px;
        position: relative;
        transition: all .3s ease-in-out;
        float: left;
        width: 150px;
        height: 100%;
        text-align: left;
        border-radius: 0 10px 10px 0;
        border-top-width: 3px;
        border-left-width: 0;
        .article-preview__tag {
            top: -3px;
        }
    }
    &__content {
        overflow: hidden;
        height: 100px;
    }
    &__table {
        display: table;
        width: 100%;
        height: 100%;
        &-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
    &__title {
        color: #333;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 113px;
        height: 80px;
    }
    &__desc {
        display: none;
    }
    &__foot {
        @include clearfix;
        padding-top: 5px;
    }
    &__name {
        color: #888;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        white-space: nowrap;
    }
    &__date {
        color: #888;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.article__page {
    position: relative;
    padding: 30px 15px 0px;
    &-cont {
    }
    &-left {
        h1 {
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    &-right {
        float: left;
        width: 245px;
        .promo__adv {
            float: none;
            margin: 0 auto 40px;
        }
        .title {
            text-align: center;
            border-bottom: none;
        }
        .product-preview {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-top {
        border-bottom: 1px solid #e5e5e5;
        height: 40px;
        line-height: 15px;
        @include clearfix;
        margin-bottom: 20px;

        .article__page-author {
            float: left;
            color: #888888;
            font-size: 13px;
        }
        .article__page-read-time {
            float: right;
            color: #888888;
            font-size: 13px;
            position: relative;
            &:before {
                content: '';
                display: block;
                @include image1x('icon/eye_small');
                position: absolute;
                top: 10px;
                left: -32px;
            }
        }
    }
    &-text {
        p {
            color: #333333;
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 14px;
            margin: 0;
        }
        h3 {
            color: #333333;
            font-size: 22px;
            line-height: 24px;
        }
        img {
            border-radius: 10px;
            display: block;
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        small {
            display: block;
            font-size: 13px;
            color: #888888;

        }

        a {
            color: #86c4af;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-bottom {
        margin-top: 20px;
        background: #f2f2f2;
        .tags {
            padding: 23px 20px 0;
            ul {
                list-style: normal;
                padding: 0 0 13px;
                margin: 0;
                border-bottom: 1px solid #d9d9d9;
                li {
                    display: inline-block;
                    padding-right: 2px;
                    margin-bottom: 10px;
                    a {
                        display: block;
                        font-size: 13px;
                        color: #FFFFFF;
                        height: 23px;
                        line-height: 23px;
                        white-space: nowrap;
                        padding: 0 15px;
                        border-radius: 10px;
                        background: #86c4af;
                    }
                }
            }
        }
        .social {
            @include clearfix;
            padding: 15px 0 15px;
            p {
                float: left;
                height: 22px;
                line-height: 22px;
                color: #888888;
                font-size: 13px;
                padding-left: 20px;
                padding-right: 17px;
            }
            ul {
                float: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 7px;
                    a {
                        display: block;
                        width: 22px;
                        height: 22px;
                        background-image: url('images/icon/social.png');
                    }
                    &.tw a {
                        background-position: 0px 0px;
                    }
                    &.ok a {
                        background-position: -22px 0px;
                    }
                    &.fb a {
                        background-position: -44px 0px;
                    }
                }
            }
        }
    }
    &-articles {
        margin-top: 30px;
        .title {
            font-size: 22px;
            margin-bottom: 10px;
            margin-left: 25px;
        }
    }
}