.button {
    line-height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    transition: all .2s ease-in-out;
    border: none;
    color: #3b5b6e !important;
    font-size: 16px;
    font-weight: 700;
    @include image2x('icon/button');
    background-color: #d6e8a6;
    height: 40px;
    width: auto;
    background-position: 7px 50%;
    padding-left: 47px;
    padding-right: 22px;
    border-radius: 23px;
    box-sizing: content-box;
    &:hover {
        box-shadow: 0 0 0 3px #d6e8a6;
    }
    &:active {
    }
}
