.catalog {
    margin-top: 10px;
    padding-bottom: 20px;
    &__body {
        //padding: 0 10px;
    }
    &__title {
        display: inline-block;
        color: #3b5b6e !important;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin-left: 16px;
        border-bottom: 1px solid transparent;
        transition: all .2s ease-in-out;
        &:hover {
            border-bottom-color: transparent;
        }
    }
    &__list {
        @include clearfix;
        margin: 5px auto 10px;
        text-align: center;
        max-width: 720px;
    }
    &__more {
        text-align: center;
    }
    &__button {

    }
}

a.catalog__title {
    border-bottom: 1px solid rgba(59, 91, 110, 0.3);
}
