.contest__page {
    padding: 10px 15px 30px;
    .title {
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    &-item {
        @include clearfix;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &-image {
            width: 300px;
            height: 220px;
            margin: 0 auto 30px;
            border-radius: 10px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &-description {
            .title {
                font-size: 24px;
                margin: 0 0 15px;
                border: none;
            }
            .period {
                display: block;
                color: #888888;
                font-size: 13px;
                margin-bottom: 20px;
                b {
                    display: block;
                    color: #333333;
                    font-size: 14px;
                    padding-top: 2px;
                }
            }
            .text {
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .links {
                @include clearfix;
                a.links_accept {
                    display: block;
                    float: left;
                    width: 227px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    color: #3b5b6e;
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                    border-radius: 23px;
                    background: #d6e8a6;
                }
                p.links_canceled {
                    width: 227px;
                    height: 45px;
                    line-height: 45px;
                    color: #84b5a4;
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                }
                a.links_rules {
                    display: block;
                    margin-bottom: 25px;
                    width: 115px;
                    font-size: 14px;
                    line-height: 16px;
                    color: #73b6e6;
                    text-decoration: underline;
                    padding-top: 6px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}