.filters {
    background: #7abba5;
    padding: 22px 0 0;
    text-align: center;
    &__button {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        white-space: nowrap;
        padding: 0 26px 0 13px;
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        color: #3b5b6e;
        font-weight: bold;
        border-radius: 18px;
        background: #d6e8a6;
        margin-bottom: 22px;
        margin-left: 8px;
        margin-right: 8px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            right: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0px 5px 7px;
            border-color: transparent transparent transparent #3b5b6e;
        }
    }
}

.catalog_filters {
    background: #7abba5;
    padding: 22px 0 0;
    text-align: center;
    .filters__button {
        sup {
            font-size: 12px;
            font-weight: normal;
            padding-left: 5px;
            padding-right: 20px;
        }
    }
}