.apps {
    background: #d3d3d3;
    padding-top: 18px;
    text-align: center;
    .title {
        display: block;
        font-size: 14px;
        color: #000000 !important;
        line-height: 14px;
        padding-bottom: 18px;
        border: none;
        font-weight: bold;
    }
    &__button {
        display: inline-block;
        width: 170px;
        height: 53px;
        background: url('/images/mobile/apps.png');
        margin: 0 5px 18px;
    }
    &__button_app_store {
        background-position: 0 0;
    }
    &__button_app_google {
        background-position: -170px 0;
    }
}
.banner {
    background: #ececec;
    padding: 20px 0;
    .ads {
        width: 300px;
        margin: 0 auto;
    }
}