.gallery-preview {
    &__inner {
        padding: 15px 10px 25px;
        position: relative;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin: 0 10px 15px;
        border-bottom: none;
    }
    &__desc {
        font-size: 14px;
        color: #666666;
        margin: 0 10px 0;
    }
    &__body {
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
        width: 355px;
        @include image1x('mobile/gallery_pattern');
    }
    &__item {
        position: absolute;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        &_1 {
            top: 25px;
            left: 0px;
            width: 160px;
            height: 160px;
        }
        &_2 {
            top: 115px;
            left: 165px;
            width: 190px;
            height: 188px;
        }
        &_3 {
            top: 305px;
            left: 0px;
            width: 185px;
            height: 180px;
        }
        &_4 {
            top: 390px;
            left: 190px;
            width: 165px;
            height: 165px;
        }
    }
    &__more {
        text-align: center;
    }
    &__social {
        margin-top: 10px;
        .title {
            color: #3b5b6e;
            border: none;
            font-size: 15px;
            line-height: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        ul.social {
            margin: 0;
            padding: 0;
            list-style: none;
            @include clearfix;
            li {
                float: left;
                margin-right: 10px;
                a {
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-image: url('images/mobile/social.png');
                }
                &.tw a {
                    background-position: -66px 0px;
                }
                &.ok a {
                    background-position: -33px 0px;
                }
                &.fb a {
                    background-position: 0px 0px;
                }
            }
        }
    }
}

@media (max-width: 370px)
{
    .gallery-preview {
        &__body {
            @include transform(translateX(-50%) scale(0.85));
        }
    }
}