.header {
    background: #d6e8a6;
    position: relative;
    z-index: 50;
    height: 45px;
    &__inner {
        a.logo {
            display: block;
            @include image1x('mobile/logo');
            position: absolute;
            top: 0px;
            left: 23px;
        }
    }
    &__menu_button {
        position: absolute;
        top: 6px;
        right: 10px;
        width: 83px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        color: #3b5b6e;
        font-weight: bold;
        background: #b8cc84;
        border-radius: 7px;
        transition: all .25s ease;
        &.active {
            background: #acbf7c;
        }
    }
}