.nav {
    position: absolute;
    z-index: 6;
    top: 45px;
    background: #f1f1f1;
    width: 240px;
    padding: 0 24px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: -5px 5px 4px rgba(0,0,0,0.15);
    height: auto;
    overflow-y: hidden;
    transition: all .25s ease;
    right: -250px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 15px 0;
            border-bottom: 2px solid #dbdbdb;
            a {
                font-size: 20px;
                color: #3b5b6e;
                line-height: 20px;
                font-weight: bold;
            }
        }
        li:last-child {
            border-bottom: 0;
        }
    }
}

.nav.active {
    right: 0px;
}