.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: none;
    &_bg {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(44,101,81,0.8);
        z-index: 1;
    }
    &_cont {
        position: relative;
        z-index: 2;
        margin: 45px auto;
        max-width: 355px;
        background: #f1f1f1;
    }
    &_close {
        @include image1x('icon/close');
        position: absolute;
        top: 14px;
        right: 14px;
        z-index: 10;
    }
    &_groups {
        .filter-category {
            padding-top: 45px;
            position: relative;
            @include clearfix;
            &__item {
                width: 33%;
                height: 150px;
                float: left;
                vertical-align: top;
                text-align: center;
                label, a {
                    display: block;
                    margin: 0;
                }
                input[type="radio"] {
                    display:none;
                }

                input[type="radio"] + label span, a span {
                    display: block;
                    cursor: pointer;
                    border-radius: 100px;
                    border: 6px solid #86c4af;
                    width: 82px !important;
                    height: 82px !important;
                    background-color: #75b49f;
                    transition: all .2s ease-in-out;
                    margin: 0 auto;
                }

                input[type="radio"]:checked + label span,
                a.active span,
                a:hover span {
                    border-color: #d6e8a6;
                    cursor: default;
                }

                i {
                    display: inline-block;
                    vertical-align: top;
                    font-style: normal;
                    color: #3b5b6e;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 13px;
                    margin-left: -50px;
                    margin-right: -50px;
                    margin-top: 10px;
                }
                label span, a span {
                    position: relative;
                    &:before {
                        position: absolute;
                        content: '';
                        cursor: pointer;
                    }
                }
                &_1 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1');
                        top: -28px;
                        left: 7px;
                    }
                }
                &_2 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2');
                        top: 3px;
                        left: 8px;
                    }
                }
                &_3 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/3');
                        top: 9px;
                        left: 1px;
                    }
                }
                &_4 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/4');
                        top: -17px;
                        left: 4px;
                    }
                }
                &_5 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/5');
                        top: -30px;
                        left: 10px;
                    }
                }
                &_6 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/6');
                        top: -11px;
                        left: 15px;
                    }
                }
                &_7 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/7');
                        top: -9px;
                        left: -12px;
                    }
                }
                &_8 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/8');
                        top: -6px;
                        left: 2px;
                    }
                }
                &_9 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/9');
                        top: -12px;
                        left: 12px;
                    }
                }
            }
        }

        .filter-category.icons_gender_1 {
            .filter-category__item {
                &_1 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/1');
                        top: -28px;
                        left: 7px;
                    }
                }
                &_2 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/2');
                        top: 3px;
                        left: 8px;
                    }
                }
                &_3 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/3');
                        top: 9px;
                        left: 1px;
                    }
                }
                &_4 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/4');
                        top: -17px;
                        left: 4px;
                    }
                }
                &_5 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/5');
                        top: -20px;
                        left: 10px;
                    }
                }
                &_6 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/6');
                        top: -11px;
                        left: 15px;
                    }
                }
                &_7 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/7');
                        top: -9px;
                        left: -12px;
                    }
                }
                &_8 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/8');
                        top: -6px;
                        left: 2px;
                    }
                }
                &_9 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/1/9');
                        top: -12px;
                        left: 12px;
                    }
                }
            }
        }

        .filter-category.icons_gender_2 {
            .filter-category__item {
                &_1 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/1');
                        top: -28px;
                        left: 7px;
                    }
                }
                &_2 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/2');
                        top: 3px;
                        left: 8px;
                    }
                }
                &_3 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/3');
                        top: 9px;
                        left: 1px;
                    }
                }
                &_4 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/4');
                        top: -17px;
                        left: 4px;
                    }
                }
                &_5 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/5');
                        top: -20px;
                        left: 10px;
                    }
                }
                &_6 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/6');
                        top: -11px;
                        left: 15px;
                    }
                }
                &_7 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/7');
                        top: -9px;
                        left: -12px;
                    }
                }
                &_8 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/8');
                        top: -6px;
                        left: 2px;
                    }
                }
                &_9 {
                    label span:before,
                    a span:before {
                        @include image2x('filter/category/2/9');
                        top: -12px;
                        left: 12px;
                    }
                }
            }
        }
    }

    &_range {
        margin-top: 130px;
        .filter-range {
            padding: 60px 0;
            width: 300px;
            position: relative;
            margin: 0 auto;
        }
        .rangeslider__handle > span {
            font-size: 16px;
            color: #000000;
        }
    }

    &_gender {
        margin-top: 100px;
        padding-top: 35px;
        .radio-button {
            text-align: center;
            margin-bottom: 35px;
            &__item {
                display: inline-block;
                vertical-align: top;
                margin: 0 20px;
                &.male {
                    input[type="checkbox"] + label span {
                        @include image1x('filter/male');
                    }
                }
                &.female {
                    input[type="checkbox"] + label span {
                        @include image1x('filter/female');
                    }
                }
                input[type="checkbox"] {
                    display:none;
                }
                input[type="checkbox"] + label {
                }
                input[type="checkbox"] + label span {
                    display: block;
                    cursor: pointer;
                    border-radius: 100px;
                    border: 6px solid transparent;
                    width: 104px !important;
                    height: 104px !important;
                    transition: all .2s ease-in-out;
                }

                input[type="checkbox"] + label span {
                }

                input[type="checkbox"]:checked + label span {
                    border-color: #d6e8a6;
                    cursor: default;
                }

                input[type="checkbox"] + label span,
                input[type="checkbox"]:checked + label span {

                }
            }
        }
    }

    &_catalog_list {
        padding: 15px;
        .cf_body_wrap {
            text-align: center;
            .cf_item {
                display: inline-block;
                text-align: left;
                width: 150px;
                input[type="checkbox"] {
                    display: none;
                }
                input[type="checkbox"] + label {
                    position: relative;
                    padding-left: 27px;
                    height: 34px;
                    line-height: 34px;
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 9px;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        background: #FFFFFF;
                        border: 2px solid #aeaeae;
                        border-radius: 3px;
                        z-index: 1;
                    }
                    &:hover:before {
                        border-color: #86c4af;
                    }
                    span {
                        display: block;
                        color: #3b5b6e;
                        font-size: 14px;
                        font-weight: 400;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 120px;
                        overflow: hidden;
                    }
                }
                input[type="checkbox"]:checked + label {
                    &:after {
                        content: '';
                        display: block;
                        z-index: 2;
                        @include image1x('filter/check');
                        width: 12px;
                        height: 10px;
                        position: absolute;
                        top: 13px;
                        left: 3px;
                    }
                }
            }
        }
    }

    &_all_groups {
        background-color: #d6e8a6;
        border-radius: 100px;
        color: #3b5b6e;
        text-transform: uppercase;
        text-align: center;
        width: 215px;
        font-size: 14px;
        font-weight: bold;
        line-height: 13px;
        padding: 15px 18px;
        display: block;
        margin: 0 auto 15px;
    }
    &_bottom_button {
        text-align: center;
        div {
            display: inline-block;
            width: 150px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            color: #3b5b6e;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 18px;
            margin: 0 5px 22px;
        }
        &_accept {
            background: #d6e8a6;
        }
        &_reset {
            background: #6dab97;
        }
        &_cancel {
            background: #d3d3d3;
        }
    }

    &_bottom_small_button {
        @include clearfix;
        padding: 0 10px;
        div {
            float: left;
            width: 80px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #3b5b6e;
            font-size: 12px;
            font-weight: 500;
            border-radius: 10px;
            margin: 0 5px 22px;
        }
        div:last-child {
            float: right;
        }
    }
}

.modal-open .popup {
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 400px)
{
    .popup {
        &_catalog_list {
            padding: 15px 25px;
            .cf_body_wrap {
                text-align: left;
            }
        }
    }
}