.product-preview {
    display: inline-block;
    width: 175px;
    height: 191px;
    background-color: white;
    border: 3px solid #ececec;
    border-radius: 9px;
    margin: 0 3px 6px;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
    &__inner {
        display: block;
        padding-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__label {
        position: absolute;
        top: 15px;
        left: -3px;
        @include image2x('icon/label');
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
        padding-left: 5px;
        transition: all .3s ease-in-out;
    }
    &__pic {
        display: block;
        height: 120px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__title {
        margin-top: 5px;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        display: block;
        max-height: 42px;
        overflow: hidden;
        display: block;
        height: 42px;
        border-bottom: none !important;
        > span {
            display: table;
            width: 100%;
            height: 100%;
            > span {
                display: table-cell;
                vertical-align: middle;
                > span {
                    display: inline;
                    transition: all .3s ease-in-out;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}

.product__page {
    padding: 30px 10px 30px;
    position: relative;
    &-nav {
        margin-top: 10px;
        color: #999999;
        font-size: 12px;
        a {
            color: #999999;
            text-decoration: underline;
        }
        a:hover {
            text-decoration: none;
        }
    }
    h1 {
        color: #3b5b6e;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &-gallery {
        width: 300px;
        margin: 0 auto;
        &_main {
            border: 3px solid #ececec;
            border-radius: 7px;
            margin-bottom: 10px;
            position: relative;
            height: 400px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            .social {
                position: absolute;
                right: 8px;
                top: 14px;
                ul {
                    list-style: none;
                    li {
                        padding-bottom: 8px;
                        a {
                            display: block;
                            width: 22px;
                            height: 22px;
                            background-image: url('images/icon/social.png');
                        }
                        &.tw a {
                            background-position: 0px 0px;
                        }
                        &.ok a {
                            background-position: -22px 0px;
                        }
                        &.fb a {
                            background-position: -44px 0px;
                        }
                    }
                }
            }
            .label_new {
                position: absolute;
                top: 16px;
                left: -3px;
                @include image1x('icon/label_big');
                line-height: 36px;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 24px;
                padding-left: 13px;
            }
        }
        &_mini {
            ul {
                list-style: none;
                padding: 0;
                @include clearfix;
                li {
                    float: left;
                    width: 96px;
                    height: 96px;
                    border: 3px solid #ececec;
                    border-radius: 7px;
                    margin-right: 6px;
                    margin-bottom: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    transition: all .25s ease;
                    &:hover {
                        box-shadow: 0 3px 12px rgba(0,0,1,.31);
                        border-color: #fff;
                    }
                }
                li:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    &-price-description {
        p {
            font-size: 13px;
            color: #666666;
            padding-left: 14px;
            position: relative;
        }
        p:before {
            content: '*';
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
    &-description {
        padding: 0 5px;
        .small_title {
            position: relative;
            margin-bottom: 10px;
            span {
                position: relative;
                color: #888888;
                font-size: 13px;
                background: #FFFFFF;
                z-index: 2;
                padding-right: 8px;
            }
            &:before {
                content: '';
                display: block;
                width: 100%;
                border-bottom: 1px solid #e5e5e5;
                position: absolute;
                top: 10px;
                left: 0;
                z-index: 1;
            }
        }

        &-top {
            @include clearfix;
        }
        &-chars {
            margin-bottom: 10px;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 20px;
            }
        }
        &-brand {

        }
        &-main {
            margin-top: 10px;
            border-top: 1px solid #e5e5e5;
            padding-top: 10px;
            padding-bottom: 15px;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 22px;
            }
        }
        &-prices {
            @include clearfix;
            .price_item {
                float: left;
                width: 234px;
                margin-right: 30px;
                margin-left: 3px;
                margin-bottom: 12px;
                border-radius: 12px;
                border: 1px solid #cccccc;
                a {
                    display: block;
                    @include clearfix;
                    .price_item_img {
                        float: left;
                        width: 140px;
                        height: 53px;
                        border-right: 1px solid #cccccc;
                        position: relative;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                        }
                    }
                    .price_item_value {
                        float: left;
                        width: 90px;
                        height: 53px;
                        line-height: 53px;
                        text-align: center;
                        font-size: 20px;
                        color: #333333;
                        font-weight: bold;
                    }
                }
                &:hover {
                    border-color: #86c4af;
                    .price_item_img {
                        border-color: #86c4af;
                    }
                }
            }
        }
    }
    &-similar {
        .title {
            font-size: 22px;
            margin-bottom: 10px;
            margin-left: 25px;
        }
        &_wrap {
            background: #a1dbc7;
            padding: 15px 0;
            position: relative;
            &:before {
                content: '';
                display: block;
                @include image1x('pattern/4');
                position: absolute;
                top: 0px;
                left: -150px;
            }
            &:after {
                content: '';
                display: block;
                @include image1x('pattern/5');
                position: absolute;
                top: 0px;
                right: -150px;
            }
        }
    }
}

@media (max-width: 370px)
{
    .product-preview {
        width: 145px;
        height: 191px;
    }
}