.title {
    display: inline-block;
    color: #3b5b6e !important;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 1px solid rgba(59, 91, 110, 0.3);
    transition: all .2s ease-in-out;
    &:hover {
        border-bottom-color: transparent;
    }
}

.desc {
    margin-top: 15px;
    color: #666;
    font-size: 16px;
    line-height: 20px;
}
