@@include('include/header.html')

<div class="viewport">
    <div class="disable_all"></div>
    <div class="your_panel"></div>
    <div class="players_panels"></div>
    <div class="cards"></div>
    <div class="log"></div>
    <div class="pass">Пропустить</div>

    <div class="modal start">
        <div class="modal_bg"></div>
        <div class="modal_body">
            <p>Количество игроков</p>
            <input type="number" min="2" max="5" value="2" id="players_count" />
            <div class="button">Начать игру</div>
        </div>
    </div>

    <div class="modal status">
        <div class="modal_bg"></div>
        <div class="modal_body">
            <div class="status_body">
                <div class="status_sights">
                    <h2>Достопримечательности</h2>
                </div>
                <div class="status_cards">
                    <h2>Предприятия</h2>
                </div>
            </div>
            <div class="button">Закрыть</div>
        </div>
    </div>

    <div class="modal dices">
        <div class="modal_bg"></div>
        <div class="modal_body">
            <h2>Ваш ход</h2>
            <div class="dice">
                <i class="pin1">
                    <div class="first-face">
                        <span class="pip"></span>
                    </div>
                    <div class="second-face">
                        <span class="pip"></span>
                        <span class="pip"></span>
                    </div>
                    <div class="third-face">
                        <span class="pip"></span>
                        <span class="pip"></span>
                        <span class="pip"></span>
                    </div>
                    <div class="fourth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                    <div class="fifth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                    <div class="sixth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                </i>
                <i class="pin1 disabled">
                    <div class="first-face">
                        <span class="pip"></span>
                    </div>
                    <div class="second-face">
                        <span class="pip"></span>
                        <span class="pip"></span>
                    </div>
                    <div class="third-face">
                        <span class="pip"></span>
                        <span class="pip"></span>
                        <span class="pip"></span>
                    </div>
                    <div class="fourth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                    <div class="fifth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                    <div class="sixth-face">
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                        <div class="column">
                            <span class="pip"></span>
                            <span class="pip"></span>
                            <span class="pip"></span>
                        </div>
                    </div>
                </i>
            </div>
            <div class="normal">
                <div class="button">Бросок</div>
            </div>
            <div class="tower_buttons">
                <div class="button" id="apply">Продолжить</div>
                <div class="button">Перебросить</div>
            </div>
        </div>
    </div>

    <div class="modal telecenter">
        <div class="modal_bg"></div>
        <div class="modal_body">
            <h2>Телецентр</h2>
            <h4>Выберите игрока, который заплатит вам 5 монет</h4>
            <div class="players_button"></div>
        </div>
    </div>

    <div class="modal business">
        <div class="modal_bg"></div>
        <div class="modal_body">
            <h2>Деловой центр</h2>
            <h4>Выберите игрока, с которым вы обменяетесь предприятиями</h4>
            <div class="players_button"></div>
        </div>
    </div>

</div>

@@include('include/footer.html')
